include _header_template
include _footer_template
include _region_template
include _track_template
include _effect_template
include _playhead_template
include _track_collection_template
include _effects_layout_template
include _effect_details_template