script(type="x-javascript", id="track-template")
  .info.left
    .left
      h5.track-title <%= name %>
      .gain-control
        .alt
    .track-buttons
      .btn.fx
      .btn.mute
      .btn.solo
  .waveform