doctype 5
html
  head
    title= title
    != css('main')
    meta(name='description', content='Mixlair: Social audio editing')
    block head
  body(class= view_name || "")
    block content

  != livereload
