.wrapper
  .logo
    %h1 mixlair.
  .highlight
    .tag.user_icon
    %input.username{type: "text", name: "username", placeholder: "Username"}
  .highlight
    .tag.pass_icon
    %input.password{type: "password", name: "password", placeholder: "Password"}
  %input{type: "submit", value: "Start Mixing"}
  .inset_sep
  .social_login
    %ul
      %li
        %a.twitter{href: '/auth/twitter'}
          %span.icon Login with Twitter
      %li
        %a.facebook{href: '/auth/facebook'}
          %span.icon Connect with Facebok
  .bottom_helper_links
    %a{href: "#"} Try it yourself.
