.effect-panel
  display: none
  size: 300 250
  background: #161a1c
  fixed: bottom 105px
  z-index: 200
  border-radius: 7px 7px 0 0
  border: 1px solid #000
  border-top: none

  .header
    gradient: #1d1f22 #15191b
    border: 1px solid #000
    border-radius: 7px 7px 0 0
    box-shadow: inset 0 1px 0 rgba(#fff,.1), 0 2px 4px rgba(#000,.05)
    padding: 8px
    group()
    margin-left: -1px
    width: 284px

    h1
      float: left
      fs: .9em
      bold()

    .close
      float: right
      cursor: pointer
      width: 13px

  .list
    height: 225px
    overflow-y: auto
    overflow-x: hidden

  ul
    padding: 10px 12px

    li
      background: #15181a
      margin-bottom: 6px
      padding: 8px
      fs: .8em
      cursor: pointer
      border: 1px solid #121618

      &.active
        background: #141618
        border-color: #101214

    .slider
      width: 248px
      height: 10px
      background: #141618
      box-shadow: inset 0 1px 2px rgba(#000,.6), 0 1px 0 rgba(#fff,.05)
      rounded()
      margin-top: 8px
      position: relative

      .ui-slider-handle
        size: 15px
        background: white
        position: absolute
        rounded()
        margin-top: -2px
        margin-left: -7px
        gradient: #fafbfb #a1a9b1
        box-shadow: 0 1px 3px rgba(#000,.8)

      .alt
        position: absolute
        height: 9px
        background: url('ui/effect_slider_active@2x.png')
        background-size: 250px 9px
        top: 1px
        rounded()
