footer
  background: #1c1f22
  box-shadow inset 0 1px 0 rgba(255,255,255,.05)
  background linear-gradient(bottom, #15181b 0%, #1d1f23 100%)
  absolute: bottom
  width: 100%
  group()

  .contain
    size: 785 65
    padding: 20px 0
    margin: 0 auto

#time-tempo
  background: linear-gradient(top, #0d2147, 51% #0d294e, 52% #0d2147, 100% #0d294e)
  box-shadow: inset 0 0 8px rgba(#fff, .1), inset 0 2px 3px rgba(#000,.7), 0 1px 0 rgba(#fff,.14)
  round: 5px