header
  height: 85px;
  background: #1c1f22;
  box-shadow inset 0 1px 0 rgba(255,255,255,.05)
  background linear-gradient(bottom, #15181b 0%, #1d1f23 100%)
  group()

  .fork-this
    float: right
    padding: 7px 15px
    cursor: pointer

#track-label
  font-size: 12px
  font-weight: bold
  text-transform: uppercase

#timeline
  border-radius 4px 4px 0 0
  background-clip padding-box
  background-color #1b1f21
  box-shadow 0 1px 0 rgba(10,12,13,.59), inset 0 2px 2px rgba(0,0,0,.6)
  background linear-gradient(bottom, #15181b 0%, #111417 100%)

.fork-this
  margin-top: 15px
  margin-right: 15px
  font-size: 12px
  border 1px solid #101215
  border-radius 2px
  background-clip padding-box
  background-color #111517
  box-shadow inset 0 1px 0 rgba(255,255,255,.03)
  background linear-gradient(bottom, #15181b 0%, #1d1f23 100%)
  color: rgba(255, 255, 255, 0.2)
