@import '_header'
@import '_footer'
@import 'mix/_track'
@import 'mix/_effects'

global-reset()

.mix
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  color: #4b4f55
  margin: 0
  padding: 0
  background: #1d2023
  padding-bottom: 105px
  padding-top: 85px

.play-head
  position: fixed
  height: 100%
  width: 10px
  z-index: 150
  left: 0px
  margin-left: 309px
  .line
    width: 1px
    background: #f6ce73
    position: absolute
    top: 0px
    left: 1px
    height: 100%
    box-shadow: 0px 0px 10px #f6ce73
  .top
    position: relative
    top: -18px
    height: 20px
    width: 20px
    margin-left: -8px
    background: url("/img/ui/play_marker_top@2x.png") 2px center no-repeat
    background-size: 16px;
