@import '_header'
@import '_footer'
@import 'mix/_track'

global-reset()

.mix
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  color: #4b4f55
  margin: 0
  padding: 0
  background: #1d2023
  padding-bottom: 105px
  padding-top: 85px
