script(type="x-javascript", id="footer-template")
  #zoom-slider
  #time-tempo
    .time
      .label time
      .count 00:45:23
    .tempo
      .label tempo
      .count 128
      .metronome
        .ticker
  #control-buttons
    .beginning
    .rewind
    .play
    .record
      .pulse
    .ffwd
    .end
  #playback-volume
    .alt
