script(type="x-javascript", id="footer-template")
  .contain
    #time-tempo
      .time
        .label time
        .count 00:45:23
      .tempo
        .label tempo
        .count 128
    #control-buttons
      .beginning
      .rewind
      .play
      .record
      .ffwd
      .end
    #playback-volume
      .alt