extends ../layout

block content
  header
    .btn.fork-this.right
    .cl
    #track-label.left my tracks
    #timeline.right
    .cl
  #mix
    #effect-panel
  #footer
    #time
      .label time
      .count 00:45:23
    #tempo
      .label tempo
      .count 128
