extends ../layout

block head
  
  //- scripts
  script MIX = !{JSON.stringify(mix)}
  include scripts/_index
  script(src="/js/main.js")

  //- templates
  include templates/_index

block content
  #header-mask
    h1 mixlair.
    .label.left my tracks
  header
  #mix
    #play-head
    .stage
      .loader
        .bar
    .effect-panel
      .list

  footer#footer