extends ../layout

block head
  script(src='/js/require.js', data-main='/js/main')

block content

  header
    .fork-this Fork This
    .base
      .label my tracks
      .timeline

  #mix
    .effect-panel

  footer
    .time
      .label time
      .count 00:45:23
    .tempo
      .label tempo
      .count 128
