extends ../layout

block head
  | <script src="js/vendor/jquery-1.9.1.js"></script>
  | <script src="js/vendor/underscore.js"></script>
  | <script src="js/vendor/backbone.js"></script>
  | <script src="js/vendor/marionette.1.0.3.js"></script>
  | <script src="js/app.js"></script>
  | <script src="js/models/mix.js"></script>
  | <script src="js/models/region.js"></script>
  | <script src="js/models/track.js"></script>
  | <script src="js/models/plugin.js"></script>
  | <script src="js/collections/regions.js"></script>
  | <script src="js/collections/tracks.js"></script>
  | <script src="js/collections/plugins.js"></script>
  | <script src="js/vendor/tuna.js"></script>
  | <script src="js/Metronome.js"></script>
  | <script src="js/Meter.js"></script>
  | <script src="js/Archiver.js"></script>
  | <script src="js/Downloader.js"></script>
  script(src="js/timeline-grid.js")
  script(src="js/main.js")
block content

  header
    .fork-this Fork This
    .base.cl
      .label.left my tracks
      .timeline.right
      .cl
    .cl
  #mix
    .effect-panel

  footer
    .contain

      #time-tempo
        .time
          .label time
          .count 00:45:23
        .tempo
          .label tempo
          .count 128

      #control-buttons
        .beginning
        .rewind
        .play
        .record
        .ffwd
        .end

      #playback-volume
