extends ../layout

block head
  
  //- scripts
  script MIX = !{JSON.stringify(mix)}
  include scripts/_index
  script(src="/js/main.js")

  //- templates
  include templates/_index

block content
  #header-mask
    h1 mixlair.
    .label.left my tracks
  header
  #mix
    #play-head
    .stage
      .loader
        .bar
      .chrome-warning
        | mixlair is a chrome experiment. please open in 
        a(href='http://www.google.com/chrome')  google chrome 
        |  to try it out!
    .effect-panel
      .list

  footer#footer