extends ../layout

block head
  script(src='/js/require.js', data-main='/js/main')
  != js('main')

block content
  header
    .btn.fork-this.right
    .cl
    #track-label.left my tracks
    #timeline.right
    .cl
  #mix
    #effect-panel
  #footer
    #time
      .label time
      .count 00:45:23
    #tempo
      .label tempo
      .count 128
