extends ../layout

block head
   script(src="js/vendor/jquery-1.9.1.js")
   script(src="js/login.js")

block content
   .wrapper
      .logo
         h1 mixlair.
      .highlight
         .tag.user_icon
         input(type="text", name="username", class="username", placeholder="Username")
      .highlight
         .tag.pass_icon
         input(type="password", name="password", class="password", placeholder="Password")

      input(type="submit", value="Start Mixing")

      .inset_sep

      .social_login
         ul
            li
               a.twitter(href='/auth/twitter')
                  span.icon Login with Twitter
            li
               a.facebook(href='/auth/facebook')
                  span.icon Connect with Facebok

      .bottom_helper_links
         a(href="#") Try it yourself.

