<script type="x-javascript" id="header-template"><div class="fork-this">Fork This</div><div class="base cl"><div class="timeline right"></div><div class="cl"></div></div><div class="cl"></div></script>

<script type="x-javascript" id="footer-template"><div id="zoom-slider"></div><div id="time-tempo"><div class="time"><div class="label">time</div><div class="count">00:45:23</div></div><div class="tempo"><div class="label">tempo</div><div class="count">128</div><div class="metronome"><div class="ticker"></div></div></div></div><div id="control-buttons"><div class="beginning"></div><div class="rewind"></div><div class="play"></div><div class="record"><div class="pulse"></div></div><div class="ffwd"></div><div class="end"></div></div><div id="playback-volume"><div class="alt"></div></div></script>

<script type="x-javascript" id="region-template"><div class="title"><@= source_url @></div></script>

<script type="x-javascript" id="track-template"><div class="info left"><div class="left"><h5 class="track-title"><@= name @></h5><div class="gain-control"><div class="alt"></div></div></div><div class="track-buttons"><div class="btn fx"></div><div class="btn mute"></div><div class="btn solo"></div></div></div><div class="waveform"></div></script>

<script type="x-javascript" id="effect-template"><div class="light"></div><p><@= name @></p><div class="go"></div></script>

<script type="x-javascript" id="playhead-template"><div class="play-head"><div class="top"></div><div class="line"></div><div class="bottom"></div></div></script>

<script type="x-javascript" id="track-collection"><li class="track add-track"><div class="info"><div class="add-track">Add a track</div></div></li></script>

<script type="x-javascript" id="effects-layout-template"><div class="header"><h1>Effects Panel</h1><div class="close">×</div></div><div class="list"></div></script>

<script type="x-javascript" id="effect-details-template"><p><@= param @></p><div class="slider"><div class="alt"></div></div></script>
