#flash-messages
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  color: #FFF

  .alert, .notice
    background: #b44326
    text-align: center
    font-size: 14px
    padding: 17px 0px
    border-bottom: solid 1px rgba(255, 255, 255, 0.32)
