@import '_header'
@import '_footer'
@import 'mix/_track'
@import 'mix/_effects'
@import 'mix/_loader'
@import 'mix/_playhead'

global-reset()

.mix.show
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  color: #4b4f55
  margin: 0
  padding: 0
  background: #1d2023
  padding-bottom: 105px
  padding-top: 85px

#chrome-warning
  margin: 40px auto
  width: 300px
  gradient: #fafbfb #a1a9b1
  box-shadow: 0 1px 3px rgba(#000,.8)
  round: 2px
  text-align: center
  padding: 20px 50px
  line-height: 1.3em
  fs: .9em
  margin-top: -50px
  position: relative
  z-index: 2
  display: none

  a
    link: red

    &:hover
      background-color: transparent
