@import 'axix/index'
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700)
@import '_settings'
@import '_login'
@import '_mix'
@import '_flash'

font-face('digital-7', '/assets')

.cl
  clear: both

.left
  float: left

.right
  float: right

html
  height: 100%
