script(src="/js/views/headerView.js")
script(src="/js/views/footerControlsView.js")
script(src="/js/views/playHeadView.js")

script(src="/js/views/tracks/trackCollectionView.js")
script(src="/js/views/tracks/trackView.js")

script(src="/js/views/regions/regionCollectionView.js")
script(src="/js/views/regions/regionView.js")

script(src="/js/views/effects/effectsCollectionView.js")
script(src="/js/views/effects/effectsLayoutView.js")
script(src="/js/views/effects/effectView.js")
script(src="/js/views/effects/effectDetailView.js")
script(src="/js/views/effects/effectDetailsCollectionView.js")